:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 background: linear-gradient(to bottom, #1fff8f, #1729cf);
 height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
